.navbar{
    display: flex;
    padding: 30px 0px;
    position: absolute;
    z-index: 0;
    justify-content: space-around;
    width: 100%;
}
.fixeditem1{
    margin-left: 45px;
    margin-top: 8px;
}
.btn{
    border: 2px solid black;
}
.textbox{
    border: 2px solid black;
    width: 79rem;
    height: 70rem;
    top: 151px;
    left: 141px;
    position: relative;
}
.blogtitle{
    height: 6rem;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
}
.blogarea{
    height: 64rem;
    width: 100%;
}
